.paymentPage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.paymentPage-page {
    width: 100%;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: center;
    background-color: rgba(23, 38, 77, 1);
}
.paymentPage-waves-background {
    top: 550px;
    left: 0px;
    position: absolute;
}
.parkshark-logo-text {
    top: 76px;
    left: 178px;
    color: rgba(255, 255, 255, 1);
    width: 453px;
    height: auto;
    position: absolute;
    font-size: 62.43959426879883px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat Alternates;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.parkshark-logo {
    top: 76px;
    left: 80px;
    position: absolute;
}

.paymentPage-message {  /*this is the Welcome msg */
    top: 300px;
    left: 15.5%;
    color: #FFFFFF;
    width: 1500px;
    height: auto;
    position: absolute;
    font-size: 71.60655975341797px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.paymentPage-cvv-input {
    top: 609px;
    left: 36%;
    width: 621px;
    height: 61px;
    position: absolute;
    font-size: 20px;
    font-family: Source Sans Pro;
    border-style: hidden;
    background-color: #FFFFFF;
    border-top-width: 10px;
    border-left-width: 20px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }

.paymentPage-expiry-input {
    top: 510px;
    left: 36%;
    width: 621px;
    height: 61px;
    position: absolute;
    font-size: 20px;
    font-family: Source Sans Pro;
    border-style: hidden;
    background-color: #FFFFFF;
    border-top-width: 10px;
    border-left-width: 20px;
    border-right-width: 10px;
    border-bottom-width: 10px;
}
.paymentPage-card-input {
    top: 409px;
    left: 36%;
    width: 621px;
    height: 61px;
    position: absolute;
    font-size: 20px;
    font-family: Source Sans Pro;
    border-style: hidden;
    background-color: #FFFFFF;
    border-top-width: 10px;
    border-left-width: 20px;
    border-right-width: 10px;
    border-bottom-width: 10px;
}

.paymentPage-submit-button { /*this is the Log In button "container" */
    top: 700px;
    left: 45%;
    width: 234px;
    height: 63px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    text-decoration: none;
}
.paymentPage-submit-button-shape { /*this is the Log In button rec*/
    top: 0px;
    left: 0px;
    width: 234px;
    height: 63px;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
}
.paymentPage-submit-button-text { /*this is the Log In text inside the button*/
    top: 14px;
    left: 62px;
    color: rgba(255, 255, 255, 1);
    width: 111px;
    height: auto;
    position: absolute;
    font-size: 27.606220245361328px;
    align-self: auto;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

/* mobile compatability for displays with width under 414px */

@media(max-width: 414px) {
    .paymentPage-page {
        height: 844px;
    }
  
    .paymentPage-waves-background {
        top: 600px;
        width: 600px;
        left: -110px;
        position: absolute;
    }

    .parkshark-logo-text {
        display: none;
    }

    .parkshark-logo {
        top: 55px;
        left: 172px;
        position: absolute;
        width: 50px;
    }
    
    .paymentPage-message { 
        top: 190px;
        left: 18px;
        color: #FFFFFF;
        width: 350px;
        height: auto;
        position: absolute;
        font-size: 30px;
        align-self: auto;
        font-style: Regular;
        text-align: center;
        font-family: Source Sans Pro;
        font-weight: 500;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }

    .paymentPage-card-input {
        top: 290px;
        left: 20px;
        width: 350px;
        height: 45px;
        position: absolute;
        font-size: 17px;
        font-family: Source Sans Pro;
        border-style: hidden;
        background-color: #FFFFFF;
        border-top-width: 10px;
        border-left-width: 20px;
        border-right-width: 10px;
        border-bottom-width: 10px;
    }
    
    .paymentPage-expiry-input {
        top: 370px;
        left: 20px;
        width: 350px;
        height: 45px;
        position: absolute;
        font-size: 17px;
        font-family: Source Sans Pro;
        border-style: hidden;
        background-color: #FFFFFF;
        border-top-width: 10px;
        border-left-width: 20px;
        border-right-width: 10px;
        border-bottom-width: 10px;
    }

    .paymentPage-cvv-input {
        top: 450px;
        left: 20px;
        width: 350px;
        height: 45px;
        position: absolute;
        font-size: 17px;
        font-family: Source Sans Pro;
        border-style: hidden;
        background-color: #FFFFFF;
        border-top-width: 10px;
        border-left-width: 20px;
        border-right-width: 10px;
        border-bottom-width: 10px;
      }
    
    .paymentPage-submit-button { 
        top: 540px;
        left: 95px;
        width: 234px;
        height: 55px;
        display: flex;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        text-decoration: none;
    }
    .paymentPage-submit-button-shape { 
        top: 0px;
        left: 0px;
        width: 200px;
        height: 55px;
        position: absolute;
        border-color: transparent;
        border-radius: 50px;
    }
    .paymentPage-submit-button-text {
        top: 11px;
        left: 45px;
        color: rgba(255, 255, 255, 1);
        width: 111px;
        height: auto;
        position: absolute;
        font-size: 24px;
        align-self: auto;
        text-align: center;
        font-family: Source Sans Pro;
        font-weight: 600;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }
}

